body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    margin: auto;
    padding: 10px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    color: black;
}

body::-webkit-scrollbar,
.epg::-webkit-scrollbar {
    width: 0;
}

.night-mode-button {
    z-index: 1;
    position: fixed;
    width: 30px;
    height: auto;
    top: 5px;
    right: 5px;
    color: #333;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 3px 4px #555;
}

.night-mode {
    color: #f5f5f5;
    background-color: #333;
}

.night-mode .controls,
.night-mode .epg {
    color: #f5f5f5;
    background-color: #333;
}

h2 {
    margin-top: 30px;
    color: #666;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #6aca6d;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 2px 3px 4px #888;
}

.channel-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    width: 100%;
}

.channel-card {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 10px;
    background-color: #fff;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 2px 3px 4px #888;
}

.channel-image {
    padding: 10px;
    width: 60px;
    height: 60px;
}

.dth-control,
.tv-control {
    padding: 10px;
    text-align: center;
}

.tv-button,
.dth-button,
.channel-card,
.navigation-button,
.night-mode-button,
.scan-button label,
.active-show {
    align-items: center;
    transition: transform 0.2s ease;
    transform: scale(1);
}

.tv-button:hover,
.dth-button:hover,
.channel-card:hover,
.navigation-button:hover,
.night-mode-button:hover,
.scan-button label:hover,
.active-show:hover {
    transform: scale(1.1);
}

.tv-button:active,
.dth-button:active,
.channel-card:active,
.navigation-button:active,
.navigation-button:active,
.scan-button label:active,
.active-show:active {
    transform: scale(0.9);
}

.controls {
    display: flex;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 2px 3px 4px #888;
}

.tv-control,
.dth-control {
    flex: 1;
}

@media (orientation: landscape) {
    .controls {
        flex-direction: row;
    }
}

@media (orientation: portrait) {
    .controls {
        flex-direction: column;
    }
}

.navigation-buttons {
    width: fit-content;
    height: auto;
    color: black;
    border-radius: 50%;
    margin: 10px auto;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.navigation-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    color: white;
    background-color: dodgerblue;
    font-size: 25px;
    position: relative;
}

.navigation-button i,
.night-mode-button i {
    margin-left: -5px;
}

.nav-inline {
    font-size: 20px;
}

i {
    margin-right: 5px;
}

.scan-button label {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #6aca6d;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 2px 3px 4px #888;
}

.scan-button input[type="checkbox"]:checked+label {
    border: 2px solid green;
    background-color: #4a9e4f;
}

.button-group {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.epg {
    background-color: #fff;
    width: 100%;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 2px 3px 4px #888;
}

#epg {
    max-height: 30em;
    overflow-x: hidden;
    overflow-y: visible;
    scrollbar-width: none;
}

#epg-h {
    max-height: 15em;
    overflow-x: visible;
    overflow-y: hidden;
}

.table-price th {
    display: none;
}

.epg td {
    margin: auto;
    padding: 5px;
}

#epg-h table td:nth-child(1) {
    pointer-events: none;
    z-index: 10;
    background-color: #888;
    left: 0;
    position: sticky;
}

#epg table tr:nth-child(2) {
    pointer-events: none;
    z-index: 10;
    top: 0;
    position: sticky;
    background-color: #888;
}

table tr:last-child {
    border: 0;
}

.nav-selector {
    display: none;
}

.uptime {
    visibility: hidden;
    margin: 10px;
    font-size: 20px;
}

.epg .active-show {
    background-color: #5fa964;
}

#epg-h table .active-show:hover::after {
    background-color: #5fa964;
    content: "";
    height: 500%;
    width: 100%;
    top: -100%;
    bottom: 100%;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}