* {
  /* remove touch effect */
  -webkit-tap-highlight-color: transparent;
}

/* default theme/light */
:root,
:root.light {
  --bg-body: #f5f5f5;
  --fg-nav-icon: #fff;
  --bg-nav: #fafafa;
  --fg-button-text: #fff;
  --fg-text: #000;
  --bg-card: #fff;
  --bg-button: #6aca6d;
  --shadow: 2px 3px 4px #aaa;
}

@media (prefers-color-scheme: dark) {

  /* system based dark theme */
  :root {
    --bg-body: #212121;
    --fg-nav-icon: #333;
    --bg-nav: #3a3939;
    --fg-button-text: #fff;
    --fg-text: #dadada;
    --bg-card: #333;
    --bg-button: #3c673e;
    --shadow: 2px 3px 4px #666;
  }
}

/* custom dark theme */
:root.dark {
  --bg-body: #212121;
  --fg-nav-icon: #333;
  --bg-nav: #3a3939;
  --fg-button-text: #fff;
  --fg-text: #dadada;
  --bg-card: #333;
  --bg-button: #3c673e;
  --shadow: 2px 3px 4px #666;
}


body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5;
  margin: auto;
  padding: 10px;
  user-select: none;
  background-color: var(--bg-body);
}

/* Hide all scrollbars */
body::-webkit-scrollbar,
.epg::-webkit-scrollbar {
  display: none;
}

.uptime {
  visibility: hidden;
  color: var(--fg-text);
  position: absolute;
  margin: 10px;
  font-size: 20px;
  top: 5px;
  left: 10px;
}

.listen-voice-input {
  z-index: 10;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--bg-card);
  border-radius: 50px;
  transition: color 0.3s ease;
}

.listen-voice-input button {
  padding-right: 15px;
  font-size: x-large;
  width: 60px;
  height: 60px;
  margin: -5px;
  color: var(--fg-button-text);
  background-color: orangered;
  border-radius: 50px;
  transition: color 0.3s ease;
  box-shadow: var(--shadow);
}

.listen-voice-input span {
  color: var(--fg-text);
  vertical-align: middle;
  padding: 10px;
  display: none;
}

.listen-voice-input>span:not(:empty) {
  display: inline-block;
  padding: 15px;
}

.recording {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.theme-toggle-button {
  z-index: 1;
  padding-right: 10px;
  position: absolute;
  font-size: x-large;
  width: 50px;
  height: 50px;
  top: 5px;
  right: 5px;
  color: var(--fg-text);
  background-color: var(--bg-card);
  border-radius: 50px;
  box-shadow: var(--shadow);
}

.theme-toggle-button i,
.listen-voice-input i {
  font-weight: 100;
  position: absolute;
  transform: translate(-50%, -50%);
}

h2 {
  margin-top: 30px;
  color: var(--fg-text);
}

button {
  /* general button theme */
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: var(--fg-button-text);
  background-color: var(--bg-button);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: var(--shadow);
}

.controls {
  /* this wraps the tv and dth control */
  background-color: var(--bg-card);
  display: flex;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: var(--shadow);
  text-align: center;
}

.tv-control,
.dth-control {
  flex: 1;
}

@media (orientation: landscape) {
  .controls {
    flex-direction: row;
  }
}

@media (orientation: portrait) {
  .controls {
    flex-direction: column;
  }
}

button i,
h2 i,
.scan-button label i,
.uptime i {
  padding-right: 5px;
}

.scan-button label {
  padding: 10px 20px;
  margin: 5px;
  font-weight: bold;
  color: var(--fg-button-text);
  background-color: var(--bg-button);
  border-radius: 50px;
  cursor: pointer;
  box-shadow: var(--shadow);
}

.scan-button input[type=checkbox]:checked+label {
  border: 2px solid green;
}

.button-group {
  /* navigation button group */
  display: flex;
  margin: 10px auto;
  padding: 10px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;

}

.nav-selector {
  /* hiding radios */
  display: none;
}

.nav-switcher {
  font-size: 20px;
  width: max-content;
}

.nav-switcher label[for=nav_tv] {
  color: var(--fg-text);
  position: relative;
  padding: 15px 15px;
  cursor: pointer;
  left: 0px;
}

.nav-switcher label[for=nav_dth] {
  position: relative;
  right: -80px;
  padding: 15px 15px;
  cursor: pointer;
  filter: grayscale(100%);
}

.navigation-buttons {
  /* wraps all nav buttons */
  width: fit-content;
  border-radius: 50%;
  margin: 10px auto;
  padding: 10px;
  background-color: var(--bg-nav);
  box-shadow: var(--shadow);
}

.navigation-button {
  /* custom theme for buttons */
  color: var(--fg-button-text);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #1e90ff;
  font-size: 25px;
}

.navigation-button i {
  position: absolute;
  font-weight: 100;
  transform: translate(-40%, -55%);
}

.channel-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  width: 100%;
}

.channel-card {
  cursor: pointer;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 10px;
  background-color: white;
  padding: 5px;
  border-radius: 20px;
  box-shadow: var(--shadow);
}

.channel-image {
  padding: 10px;
  width: 60px;
  height: 60px;
}

.epg {
  color: var(--fg-text);
  background-color: var(--bg-card);
  width: 100%;
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: var(--shadow);
}

.epg table {
  width: 100%;
}

.table-price th {
  display: none;
}

#epg {
  color: var(--fg-text);
  max-height: 30em;
  overflow-x: hidden;
  overflow-y: visible;
}

#epg-h {
  max-height: 15em;
  overflow-x: visible;
  overflow-y: hidden;
}


.epg td {
  padding: 10px;
}

#epg-h table td:nth-child(1),
#epg table tr:nth-child(2) {
  left: 0;
  top: 0;
  z-index: 1;
  position: sticky;
  pointer-events: none;
  background-color: #888;
}

.epg .active-show {
  background-color: #33913953;
  cursor: pointer;
}

.epg .past-show {
  color: #999;
  opacity: 0.7;
}

#epg-h .active-show:hover::after {
  background-color: #5fa96453;
  pointer-events: none;
  content: '';
  height: 1000%;
  left: 0;
  position: absolute;
  top: -500%;
  width: 100%;
  z-index: -1;
}

/* click animation */
button,
.scan-button label,
.channel-card,
.active-show {
  transition: transform 0.2s ease;
  transform: scale(1);
}

@media (hover: hover) {
  button:hover,
  .scan-button label:hover,
  .channel-card:hover,
  .active-show:hover {
    transform: scale(1.1);
  }
}

button:active,
.scan-button label:active,
.channel-card:active,
.active-show:active {
  transform: scale(0.9);
}